{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="stylesheet" href="{% static 'css/SignIn.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">   
</head>
<body>
    <div id ="container">
        <div id="Registrar">
            <div id="IniciarSesion">
                <img id="image" src="{% static 'image/logo-sena-verde-complementario-png-2022.png' %}">
                <h2>Iniciar Sesión</h2>
                <center>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" placeholder="Correo Electrónico" name="email">
                    <input type="password" placeholder="Contraseña" name="password">
                    <input type="submit" id="cont" value="¿Olvidaste tu Contraseña?">
                    <input type="submit" id="submit" value="Iniciar Sesión">
                </form>
                </center>
            </div>
            <div id="Registro">
                <h2>Regístrate</h2>
                <br>
                <h4>¿Aún no tienes Cuenta?</h4>
                <input type="submit" id="button" value="Registrarse" onclick="location.href= 'http://127.0.0.1:8000/SignUp'">
            </div>
        </div>
    </div>

</body>
</html>