*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}
body{
    background: linear-gradient(#2382755b, #fff);
}

.container{
    background: #238276;
    width: 100%;
    height: 90px;
    display: flex;

}

nav{
    background: #238276;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0, 4);
}

.logo{
    margin-left: 10%;
    margin-right: 40%;
    justify-content: left;
    align-items: left;
   
}

nav ul li{
    list-style: none;
    display: inline-grid;
    padding: 13px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0,3s;
}

nav ul li::after{
    content: "";
    background: #2d766dd7;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
}


nav ul li:hover{
    color: #000;
}

nav ul li:hover::after{
    top: 50%;
    opacity: 1;
}

.inicio{
    width: 82%;
    height: auto;
    overflow: hidden;
    margin: auto;
    text-align: center;

}

.inicio h1{
    margin-bottom: 2%;
}

.inicio p{
    margin-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
}

.container2{
    background: #fff;
}

.botones{
    display: flex;
}

.card{
    border-radius: 50px;
    margin-left: 1%;
    margin-inline-start: 2%;
    margin-inline-end: 2%;
    margin-top: 2%;
    height: 30px;
    background-color: transparent;
    border-color: #238276;
    border-width: 3px;
    flex: 1;
    transition: .3s all ease;
}

.card:hover{
    flex: 2;
    background-color: #238276;
    color:#fff;
}

table{

    width: 82%;
    height: auto;
    overflow: hidden;
    margin: auto;
    text-align: center;
  }
  
  table, th, td{
    border: 2px solid #238276;
    border-collapse: collapse;
    margin-top: 2%;
    
  }
  
  th, td {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
  }
  
  th{
    text-align: center;
    background-color: #238276;
    color: #fff;
  }

.button{
    width: auto;
    padding: 10px;
    background: #238276;
    color: #ffff;
    font-size: 12px;
    border-color: #238276;
    border-radius: 100px;
    cursor: pointer;
    margin-left: 47%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.containercards{
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.containercards .cards{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.containercards .cards:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.containercards .cards img{
    width: 330px;
    height: 220px;
}

.containercards .cards h4{
    font-weight: 600;
}

.containercards .cards p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.containercards .cards a{
    font-weight: 500;
    text-decoration: none;
    color: #238276;
}

#img2{
    width: 100%;
}

.logoinf{
    margin-left: 20%;
    padding: 2%;
    width: 9%;
}
  